@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.highlight-applied-rule {
  background: rgba(99, 102, 241, 0.15);
}
